<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "scripts.html" . -}}
    {{- block "footerfiles" . -}}{{- end -}}
    <script>
      document.addEventListener('keydown', function(event) {
        if(event.keyCode == 37) { // left key
          window.location.href = '/posts/';
        }
        if(event.keyCode == 39) { // right key
          window.location.href = '/search/';
        }
      });
    </script>
  </body>
</html>
